@import "styles/variables.scss";

.subCard {
    width: 24.7%;
    text-align: center;
    
    .top {
        display: flex;
        justify-content: space-between;
        color: $text-white;

        .accuracy, .avgTime {
            text-align: center;
        }

        p {
            margin: 0;
        }

        .value {
            font-weight: 500;
        }
    }
}