@import "styles/variables";

.subCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    .top {
        display: flex;
        justify-content: space-between;
        color: $text-white;
        gap: 30px;

        .accuracy, .avgTime {
            text-align: center;
        }

        p {
            margin: 0;
        }

        .value {
            font-weight: 500;
        }
    }
}