$text-purple: #6776FF;
$text-white: #FFFFFF;
$text-gray: #B2A9A9;
$text-black: #000000;

$border-color: #d4d4d4;

$gradient: linear-gradient(90deg, #6776ff 0%, #80ffdb 117.88%);
$gradient-two: linear-gradient(91.23deg, #6776FF 0%, #80FFDB 131.71%);
$gradient-correct: linear-gradient(91.23deg, #20622A 0%, #48B566 131.71%);
$gradient-wrong: linear-gradient(91.23deg, #F35325 0%, #F3AD25 131.71%);

$bg-color: rgba(128, 255, 219, 0.2);
$bg-gray: #2f2f2f54;
$bg-white: #FFFFFF