@import "styles/variables";

.bottom {
    height: 100%;
    background: $gradient-two;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @media (max-width: "800px") {
        flex-direction: column;
        gap: 15px;
    }

    .bottomRight {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        gap: 15px;
    }

    .bottomLeft {
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 5px;
    }

    .heading,
    .stuck {
        font-size: 0.875rem;
        color: $text-white;
    }

    input {
        width: 70%;
        padding: 5px 3px;
        border-radius: 5px;
        border: none;

        @media (max-width: "800px") {
            width: 100%;
        }

        &::placeholder {
            font-size: 0.875rem;
            color: $text-gray;
        }
    }
}

.correct,
.wrong {
    display: grid;
    place-items: center;
    height: 100%;
}

.correct {
    background: $gradient-correct;
}

.wrong {
    background: $gradient-wrong;
}
