@import "styles/variables";

.bottom {
    height: 100%;
    background: $gradient-two;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .bottomRight{
        display: flex;
        flex-shrink: 0;
        align-items: center;
        gap: 15px;
    }

    .bottomLeft {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 5px;
    }

    .heading, .stuck {
        font-size: 0.875rem;
        color: $text-white;
    }

    input {
        width: 50%;
        padding: 3px 2px;

        &::placeholder {
            font-size: 0.875rem;
            color: $text-gray;
        }
    }
}