@import "styles/variables";

.middle {
    height: 100%;
    background: $bg-color;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .questions {
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        flex-wrap: nowrap;
        transition: 600ms;

        p {
            width: 100%;
            flex-shrink: 0;
            transition: 600ms;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .heading {
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 21px;
        color: $text-gray;
    }
}
