@import "styles/variables";

.middle {
    height: 100%;
    background: $bg-color;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .questions {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 100%;
        overflow: hidden;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;

        p {
            scroll-snap-align: start;

            overflow-y: auto;
            overscroll-behavior-y: contain;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .heading {
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 21px;
        color: $text-gray;
    }
}
