@import "styles/variables";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 154px 43px 106px;
    width: 100%;
    transition: 350ms ease-in-out;

    @media (max-width: "800px"){
        padding: 21px 27px 43px 27px;
    }

    .left {
        width: 125px;
        height: 57px;
        flex-shrink: 0;

        @media (max-width: "800px"){
            width: 81px;
            height: 37px;
        }

        img {
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }

    .right {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        ul {
            display: flex;
            gap: 60px;
        }

        a {
            font-size: 1rem;
            color: $text-purple;
            font-weight: normal;
            line-height: 24px;
        }
    }
}

.dropdown{
    background: $bg-white;
    position: fixed;
    height: 0;
    width: 100vw;
    z-index: 2;
    text-align: center;
    overflow: hidden;

    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    a {
        font-size: 1.5rem;
        color: $text-purple;
        font-weight: normal;
        line-height: 24px;
    }

}

.show {
    height: calc(100vh - 143px);
}
